*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, #fe8c00, #f83600);
  padding: 3rem;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}

@media (max-width: 25rem) {
  body {
    padding: 1rem;
  }
}
